*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
/Backend/build/
/Frontend/app/build/
.gradle/
.idea/kotlinc.xml
.idea/gradle.xml
.idea/workspace.xml
/build/
/out/
Thumbs.db
/.idea/compiler.xml
/.idea/deploymentTargetSelector.xml
.idea/deviceManager.xml